@media screen and (max-width: 600px) {
  .home-page {
    background: url(images/homepage-image-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo-div {
    width: 50%;
  }
  .hero-section {
    width: 100%;
  }
  .nav-bar {
    display: none;
  }

  .nav-div .mobile-nav-svg {
    display: block;
    color: white;
  }
  .return-btn {
    color: white;
  }
  .space-purpose {
    height: 2.5pc;
  }
  .text1 {
    font-size: 100px;
  }
  .text2 {
    font-size: 75px;
  }
  .text3 {
    font-size: 40px;
  }
  .text4 {
    font-size: 20px;
  }
  .text5 {
    font-size: 18px;
  }
  .text6 {
    font-size: 44px;
  }
  .text7 {
    font-size: 50px;
  }
  .button-div {
    width: 100%;
  }
  .travel-details {
    flex-direction: column;
    --gap: 10%;
  }
  .heading {
    height: 2pc;
    text-align: center;
  }
  .mobile-nav {
    display: flex;
    gap: 10%;
    position: absolute;
    height: 100%;
    width: 90%;
    text-align: left;
    margin-left: 10%;
    background-color: rgba(11, 13, 23, 0.712);
    backface-visibility: hidden;
    justify-content: space-between;
    padding-top: 10%;
  }
  .mobile-nav div {
    width: 90%;
    --gap: 10px;
    flex-direction: column;
  }
  .mobile-nav li,
  .mobile-nav a {
    height: 5%;
  }
  li:hover {
    border-left: 2px rgba(255, 255, 255, 0.541) solid;
    border-bottom: 0;
  }
  .selector {
    border-left: 2px white solid;
    border-bottom: 0;
  }
}
