/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* define height and width  */
body {
  line-height: 1.5;
  min-height: 100vh;
  height: fit-content;
}
img,
picture,
figure {
  max-width: 100%;
  display: block;
}
section {
  max-width: 100%;
  height: fit-content;
}
input,
button,
textarea,
select {
  font: inherit;
}
li {
  list-style: none;
}

/* utility classes */
.hero-section {
  width: 90%;
  margin-inline: auto;
  padding-inline: 2em;
}
.hide {
  display: none;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(autofit, minmax(250px, 1fr)); */
  gap: var(--gap, 1rem);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
/* color and background-color  */
.white-background {
  background-color: rgb(255, 255, 255);
}
.black-background {
  background-color: rgb(11, 13, 23);
}
.blue-background {
  background-color: rgb(208, 214, 249);
}
.white-font {
  color: rgb(255, 255, 255);
}
.black-font {
  color: rgb(11, 13, 23);
}
.blue-font {
  color: rgb(208, 214, 249);
}
/* fonts */
.text1 {
  font-family: "Bellefair", serif;
  font-size: 144px;
  line-height: normal;
  letter-spacing: 0px;
}
.text2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  line-height: normal;
  letter-spacing: 0px;
}
.text3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  line-height: normal;
  letter-spacing: 0px;
}
.text4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0px;
}
.text5 {
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 4px;
}
.text6 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0px;
}
.text7 {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 2px;
}
.text8 {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
}
.text9 {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0px;
}
/* home page */
.home-page {
  background-image: url(images/homepage-image-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.space-purpose {
  height: 15pc;
}
.content-div {
  --gap: 5%;
  height: 50%;
}
.text-div {
  width: 50%;
}
.button-div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.button-div button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: none;
  outline: none;
}
.nav-div {
  --gap: 10%;
  padding-top: 30px;
  justify-content: space-between;
}
.nav-div svg {
  display: none;
}
.nav-bar {
  --gap: 20px;
  background-color: rgba(255, 255, 255, 0.26);
  height: 50px;
  width: 50%;
  padding: 0 2%;
  align-items: center;
  justify-content: center;
}
.logo-div {
  align-items: center;
  justify-content: flex-start;
  /* justify-items: flex-start; */
  width: 20%;
  padding-left: 5%;
}
.line {
  /* min-width: 40px; */
  max-width: 42%;
  height: 2px;
  border-top: 1px solid white;
  /* margin-left: 15%; */
  /* margin-top: -25px; */
  position: relative;
  bottom: 25px;
  left: 10%;
}
.destination {
  background: url(images/destination-background.png);
  background-size: cover;
  background-size: cover;
  height: 100vh;
}
