/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* define height and width  */
body {
  line-height: 1.5;
  min-height: 100vh;
  height: fit-content;
}
img,
picture,
figure {
  max-width: 100%;
  display: block;
}
section {
  max-width: 100%;
  height: fit-content;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* utility classes */
.hero-section {
  width: 80%;
  margin-inline: auto;
  padding-inline: 2em;
}
.hide {
  display: none;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(250px, 1fr));
}
