*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  height: fit-content;
}
img,
picture,
figure {
  max-width: 100%;
  display: block;
}
section {
  max-width: 100%;
  height: fit-content;
}
input,
button,
textarea,
select {
  font: inherit;
}

.hero-section {
  width: 80%;
  margin-inline: auto;
  padding-inline: 2em;
}
